body{
    background: url(/img/background-blue2.jpg) no-repeat;
    background-size: cover;
    background-size: 100% 100%;

}
/* .ok{
    padding: 20px;
} */

.regContainer{
    background-color: white;
    width: 60%;
    border-radius: 5px;
    margin: auto;
    margin-top: 3%;

}

.titleForm{
    padding: 10px;
    color: white;
    background-color: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}

#personalInformationTxt{
    text-align: center;
}

.mainForm{
    padding: 10px;
    margin-top: 10px;
}

.creditsContainer{
    background-color: white;
    padding: 30px;
    text-align: start;
    margin-top: 10%;
}

#graphicForm{
    height: 350px;
}

